@import "~@chez14/plong/scss/mixins/banner";
@import "~bootstrap/scss/mixins/banner";
@include plongBanner();
@include bsBanner("");

$import-fonts: false;
@import "./colors";
@import "~@chez14/plong/scss/fonts";
@import "~@chez14/plong/scss/components";

code {
    background-color: rgba($white, 0.1);
    padding: 0.1rem 0.3rem;
}
