@import "../../styles/systems/colors";

.workItem {
    border: 1px solid $clinical-cyan;
    height: 100%;

    --#{$prefix}card-title-spacer-y: 0rem;

    :global {
        .card-body {
            display: flex;
            flex-direction: column;
        }

        .card-work {
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            .card-work-icon {
                max-width: 50px;
                width: 100%;
                aspect-ratio: 1/1;
                height: auto;
                background-color: tint-color($gloomy-gray, 10%);

                align-items: center;
                justify-content: center;
                display: flex;
                place-items: center;
                size: cover;

                user-select: none;

                span.work-icon {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: bolder;
                    text-transform: uppercase;
                }
            }

            .card-work-name {
                flex-grow: 1;
                align-self: center;
            }
        }

        .work-description {
            display: flex;
            flex-grow: 1;
        }

        .work-tags {
            .badge {
                display: inline-block;
                margin-right: 0.5rem;
            }
        }

        .work-cta {
            a {
                display: inline-block;
                margin-right: 1rem;

                svg {
                    margin-right: 0.2rem;
                }
            }
        }
    }
}
