@import "../../styles/systems/colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.mainBanner {
    padding-top: calc(1.8rem * 2 + 2rem + 1.8rem);
    min-height: max(60vh, 500px);
    align-items: center;
    display: flex;
}

.credentialAutoAdjust {
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }
}
