@import "~/styles/systems/colors";

.logo {
    aspect-ratio: 500/283;

    :global {
        // Will set defaults to current color.
        .logo-part {
            fill: currentColor;
            transition: fill 200ms ease-out, color 200ms ease-out;
        }
    }
    &.logo-dark {
        :global {
            .logo-part-1 {
                color: $wandering-white;
            }
            .logo-part-2 {
                color: $restless-red;
            }
        }
    }

    &.logo-light {
        :global {
            .logo-part-1 {
                color: $gloomy-gray;
            }
            .logo-part-2 {
                color: $restless-red;
            }
        }
    }
}
