@import "~/styles/systems/colors";
@import "~@chez14/plong/scss/components/navbar";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.logo {
    height: $navbar-brand-height - $navbar-brand-padding-y;
    width: auto;
}

.padders {
    $totalHeightNeeded: #{$nav-link-height + ($navbar-padding-y * 2)};
    display: block;
    height: #{$totalHeightNeeded};
}
