@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.sectionHead {
    width: 100%;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
    }

    :global {
        @include media-breakpoint-up(md) {
            .section-header-title {
                flex-shrink: 1;

                & > * {
                    margin-bottom: 0rem;
                }
            }

            .section-header-handle {
                flex-grow: 1;
                justify-content: flex-end;
                text-align: right;
            }
        }
    }
}
