@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.footer {
    background-color: $gloomy-gray-600;
    margin-top: 1.8rem;
    padding: 5rem 0rem 2rem 0rem;
}

.footerNavs {
    :global {
        .nav-link {
            --#{$prefix}nav-link-padding-x: 0rem;
            --#{$prefix}nav-link-color: #{$wandering-white-600};
            --#{$prefix}nav-link-hover-color: #{$wandering-white-500};
        }
    }
}

.footerCopyright {
    color: $wandering-white-700;
    background-color: $gloomy-gray-700;
    padding: 1rem 0rem;

    // change up the linksies
    --#{$prefix}link-color: #{$wandering-white-700};
    --#{$prefix}link-hover-color: #{$wandering-white-600};
    p {
        margin: 0rem;
    }

    :global {
        .footer-final-notice {
            margin-top: 0.5rem;

            @include media-breakpoint-up(md) {
                margin-top: 0rem;
                text-align: right;
            }
        }
    }
}
