@import "../../styles/systems/colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.aboutSite {
    background-color: $restless-red-700;

    margin-top: 7rem;

    :global {
        .container {
            position: relative;
        }

        @include media-breakpoint-up(md) {
            .container::after {
                content: "";
                aspect-ratio: 1/1;
                width: 250px;
                height: auto;
                background: center / contain no-repeat url("~/assets/about/band-decorator.png");
                position: absolute;
                bottom: 0px;
                left: -5%;
            }

            .band-title {
                text-align: center;
            }
        }
    }
}
