@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.blogFeatured {
    align-items: stretch;
    justify-content: center;

    @include media-breakpoint-down(md) {
        align-items: start;
        gap: 1rem;
    }

    :global {
        .post-image {
            display: block;
            object-fit: cover;
            object-position: center center;
            height: 100%;
            overflow: hidden;

            & img {
                height: 100%;
                width: auto;
            }

            @include media-breakpoint-down(md) {
                // on mobile phone, the behavior changes to image-fluid
                height: auto;

                & img {
                    height: auto;
                    width: 100%;
                }
            }
        }

        .post-taglists {
            gap: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            a {
                display: inline-block;
            }
        }
    }

    .btnCta {
        text-align: left;
    }
}
